<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head> 
  <title>Cotobu welcome page</title>
</head>

<body>

<div class="container">

	<div class="row">
		<div class="span8">	
			<div class="hero-unit">
			  <h2>Cooperative Tourist Builder</h2>
			  <p>Feel useful traveling to some of the African communities where your presence will not only become scholarships for young people to study, but can also contribute your knowledge and skills to further improve the quality of life for those in need.</p>
			  <p>
			    <a class="btn btn-primary btn-large">
			      Learn more
			    </a>
			  </p>
			</div>
		</div>
		
		<div class="span2 offset1">	
			<ul class="thumbnails">
			  <li class="span12">
			    <img src="http://1.bp.blogspot.com/_3XvQyYFyC88/SXeDCmphLYI/AAAAAAAAALE/4msbdfGCY9E/s1600/mapa+africa+negra+jpg.png" alt="">
			   </li>			  
			</ul>
		</div>	 
	</div><!-- row -->

	<hr>

	<footer> 
        <p>&copy; Ideas Brillantes 2012</p> 
      </footer> 

</div><!-- container -->



</body>
</html>