<!DOCTYPE html>
<html>
<head>
  <title>CotobuBeta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">COTOBU <i>beta</i></a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/places">Places</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/sign_in">Sing In</a></li>
      </ul>
    </div>
  </div>
</div>
</head>
<body>

<%= yield %>

</body>
</html>
